


body {
    padding: 0;
    margin: 0;

    background-color: lightgrey;
/*
    height: 100%;
*/
    width: 100%;
}

a {
    color: #2E3436;
    text-decoration: none;
    font-weight: bolder;
}

header {
    background-color: darkgrey;
    padding: 0.5em 2.5%;
    width: 95%;
    margin: 0;
    border-bottom: grey solid 1px;
    display: block;
    text-align: center; 
}
header * {
    padding: 0;
}

.headerTitle {
    font-size: 1.5em;
    display: inline;
}

.headerSubtitle {
    color: lightgrey;
    font-size: 1.5em;
    display: inline;
}

.side {
    background-color: lightgrey;
    width: 20%;
    position: absolute;
    left: 0px;
    min-height: 95%;
    padding: 0 ;
    font-size: 125%;
}

.side .left {
    font-size: 150%;
}

.folderlist {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    width: 100%;
    display: block;
}
.folderlist li {
    background-color: darkgrey;
    padding: 0.3em 0;
    padding-left: 2%;
    display: inline-block;
    border-bottom: grey solid 1px;
    min-width: 100%;
    
    text-align: left;
    font-size: 75%;
}

.side .left {
    margin: 0.5em; 
    bottom: 0;
    font-size: 50%;
}


.main {
    background-color: white;
    position: relative;
    min-height: 20em;
    margin: 0 0 3em 20%;
    padding: 1% 5% 3% 5%;
}
.main p {
    text-align: justify;
}
.main * {
    max-width: 100%;
}

article {
    background-color: lightgrey;
    margin: 3em;
    padding: .5em 2% 2em 2%;
}

code {
    max-width: 90%;
    overflow-x: auto;
    display: inline-block;
    padding: 3px 5px;
    background-color: lightgrey;
}

.bottom {
    background-color: darkgrey;
	color: #111;
	font-size: 91%;
	padding: 0.5em 2.5%;
    width: 95%;
    position:absolute; 
    bottom: 0px;
    text-align: right;
    border-top: grey solid 1px;
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 800px) {
    header {
    }
    .side {
        width: 100%;
        position: static; 
    }
    .folderlist li {
        text-align: center;
        padding: 0.5em 0;
        padding-left: 0;
        font-size: 150%;
    }
    
    .side .left {
        font-size: 125%;
    }
    
    .main {
        width: 95%;
        padding: 1% 2.5% 3% 2.5%;
        margin: 0 0 3em 0;
        
        font-size: 110%;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 640px) {
    .folderlist li {
        font-size: 100%
    }
    .side .left {
        font-size: 100%;
    }
    .main {
        font-size: 100%;
    }
}
